body{
  background-color: #faf9f8;
}
h1{
   color: green;
}
.navbar-brand{
  font-family: 'Yuji Boku', serif;
  font-size: 4rem;
  margin-left: 35rem;
}
.container{
  margin-top: 2rem;
}
.subtext-head{

  margin-left: 14rem;
  margin-top: 4rem;
}
.subtext-row{
  font-family: 'Yuji Boku', cursive;
  margin-left: 12rem;
  width: 950px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.cover{
  margin-left: 15.5rem;
  width: 800px;
  height: 800px;
}
